
$large-number-of-pixels: 500000px;

$fork-tine-height: 26%;
$fork-tine-width: 20%;
$fork-handle-length: 65%;
$fork-color: grey;
$fork-tine-base-smoother-border-radius: 20px;

.fork {
    position: relative;
    height: 600px;
    width: 200px;
    
    .fork-tine-left {
	left: 0;
    }
    
    .fork-tine-middle {
	left: 50%;
	transform: translateX(-50%);
    }
    
    .fork-tine-right {
	right: 0;
    }
    
    .fork-tine {
	position: absolute;
	width: $fork-tine-width;
	height: $fork-tine-height;
	background: $fork-color;
	border-radius: $large-number-of-pixels $large-number-of-pixels 0 0;
    }
        
    .fork-tine-base {
	position: absolute;
	top: $fork-tine-height;
	width: 100%;
	bottom: $fork-handle-length;
	background: $fork-color;
	border-radius: 0 0 50px 50px;
    }
    
    .fork-handle {
	position: absolute;
	width: $fork-tine-width;
	height: $fork-handle-length;
	bottom: 0;
	background: $fork-color;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0 0 $large-number-of-pixels $large-number-of-pixels;
    }
}
