
$moving-bar-animation-timing-function: linear;

div#entering-bars-container {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: black;
}

.horizontally-moving-bars {
    position: absolute;
    animation-name: horizontally-moving-bar-animation;
    animation-iteration-count: infinite;
    animation-timing-function: $moving-bar-animation-timing-function;
}

.vertically-moving-bars {
    position: absolute;
    animation-name: vertically-moving-bar-animation;
    animation-iteration-count: infinite;
    animation-timing-function: $moving-bar-animation-timing-function;
}

@keyframes horizontally-moving-bar-animation {
    0% {
	left: 0;
    	width: 0;
    }
    50% {
	left: 0;
    	width: 100vw;
    }
    100% {
	left: 100vw;
    	width: 0;
    }
} 

@keyframes vertically-moving-bar-animation {
    0% {
	top: 0;
    	height: 0;
    }
    50% {
	top: 0;
    	height: 100vh;
    }
    100% {
	top: 100vh;
    	height: 0;
    }
} 

