
$moving-bar-height: 50vh;
$moving-bar-animation-timing-function: cubic-bezier(.30, .75, .30, 1);

#moving-bars-container {
    height: 100%;
    width: 100%;
    background: white;
    
    .top-moving-bar {
	bottom: calc(100vh - #{$moving-bar-height});
	position: absolute;
	animation-name: moving-bar-animation;
	animation-iteration-count: infinite;
	animation-timing-function: $moving-bar-animation-timing-function;
    }
    
    .bottom-moving-bar {
	top: calc(100vh - #{$moving-bar-height});
	position: absolute;
	animation-name: moving-bar-animation;
	animation-iteration-count: infinite;
	animation-timing-function: $moving-bar-animation-timing-function;
    }
}

@keyframes moving-bar-animation {
    0% {
    	background: #428BCA;
    	height: 0;
    }
    50% {
    	background: #428BCA;
    	height: $moving-bar-height;
    }
    100% {
    	background: #428BCA;
    	height: 0;
    }
} 
