
$moving-bar-height: 50vh;
$moving-bar-animation-timing-function: linear;

@keyframes loading-screen-text-animation {
    0% {
	opacity: 1;
	top: 30vh;
    }
    40% {
	opacity: 1;
	top: 30vh;
    }
    41% {
	opacity: 0;
	top: 30vh;
    }
    49% {
	opacity: 0;
	top: 70vh;
    }
    50% {
	opacity: 1;
	top: 70vh;
    }
    90% {
	opacity: 1;
	top: 70vh;
    }
    91% {
	opacity: 0;
	top: 70vh;
    }
    99% {
	opacity: 0;
	top: 30vh;
    }
    100% {
	opacity: 1;
	top: 30vh;
    }
} 

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

#loading-screen-text {
    top: 30vh;
    font-family: "Rubik", "Ubuntu", "Ubuntu Mono", "Dosis", "Nunito", "Work Sans", "Inconsolata", "Noto Sans JP", "Josefin Sans", "Muli", ;
    font-size: 10em;
    z-index: 10;
    color: white;
    position: fixed;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    animation-duration: 40s;
    animation-delay: 60s;
    animation-name: loading-screen-text-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#moving-bars-container {
    height: 100%;
    width: 100%;
    background: white;
    
    .top-moving-bar {
	bottom: calc(100vh - #{$moving-bar-height});
	position: absolute;
	animation-name: moving-bar-animation;
	animation-iteration-count: infinite;
	animation-timing-function: $moving-bar-animation-timing-function;
	z-index: 1;
    }
    
    .bottom-moving-bar {
	top: calc(100vh - #{$moving-bar-height});
	position: absolute;
	animation-name: moving-bar-animation;
	animation-iteration-count: infinite;
	animation-timing-function: $moving-bar-animation-timing-function;
	z-index: 1;
    }
}

@keyframes moving-bar-animation {
    0% {
    	background: #428BCA;
    	height: 0;
    }
    50% {
    	background: #428BCA;
    	height: $moving-bar-height;
    }
    100% {
    	background: #428BCA;
    	height: 0;
    }
} 
